body {
  margin-left: 1rem;

  .content-area {

    p{
      font-family: $font_primary;
      font-weight: 300;
      color: $color__background-body;
      font-size: 1.3rem;

      @include tablet-size {
        font-size: 1.8rem;
      }
  
      @include desktop-size {
        font-size: 2.5rem;
      }

    }
  }

  .logo {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;

    @include tablet-size {
      height: 80px;
      text-align: left;
    }

    @include desktop-size {
      text-align: center;
      height: 100px;
    }

  }

  .site-main {

    .entry-meta {
      display: flex;
      font-family: $font_primary;
      font-weight: 300;
      color: $color__background-body;

  
      h2 {
        font-weight: 300;
        margin:0;
        
        @include desktop-size {
          padding-left: 100px;
    
        }
        
      }
  
      span, p{
        font-style: italic;
        font-size: 1.5rem;
  
      }
  
      a{
        color: $color_quotes;
        text-decoration: none;
        font-style: italic;
  
        &:hover {
          color:$color_hover_links;
        }
      }
    }

    #new-quote-button {
    background-color: transparent;
    outline: none;
    border: 2px solid $color_quotes;
    border-radius: 3px;
    color: $color_quotes;
    font-size: 1rem;
    padding: .75rem 2.25rem;
    box-shadow: none;
    text-shadow: none;
    font-family: $font_primary;
    margin: 4rem 0;

    @include desktop-size {
      margin: 4rem 25rem;

    }
   
    @include tablet-size {
      font-size: 1.3rem;
    }
    }
  }





}

article {
  @include desktop-size {
    max-width: 65vw;
    margin: 0 auto;

    .entry-content {
      display: flex;
      align-content: space-between;
      margin-left: 0;
  
        p {
        margin-top: 0;
        }
  
  
    }

  }

}

.entry-content::before, h1::before {
  @include desktop-size {
    font-family: FontAwesome;
    content: "\f10d";
    font-size: 100px;
    color:$color_quotes;
    padding-right: 20px; 
  

  } 
}

.entry-content::after{
  @include desktop-size {
    font-family: FontAwesome;
    content: "\f10e";
    font-size: 100px;
    color:$color_quotes;

  }
}

