/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{
  background: $color_background;

  #page {
    max-width: 1080px;
    margin: 0 auto;
  }
}
/* All Archives Page */

/* Submit a Quote Page */
