.search {

  .entry-title a {
    text-decoration: none;
    font-family: $font_primary;
    color: $color_quotes;
  }

  .entry-summary p {
    font-size: 1rem;
    
  }

  article {
    border-bottom: 0;
  }
}